<div class="banner">
  <h1>Swanee</h1>
  <%= image_tag("somewhere.png", class: "somewhere") %>
  <a href="https://instagram.com/swanee.lwky?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a>
  <a href="https://youtube.com/@swanee_lwky"><i class="fa-brands fa-youtube"></i></a>
  <a href="https://open.spotify.com/artist/0585Li4bnLU8z5cqFMOdaP"><i class="fa-brands fa-spotify"></i></a>
  <a href="https://music.apple.com/fr/artist/swanee/1552375902"><i class="fa-brands fa-apple"></i></a>
  <a href="https://deezer.page.link/BGj7KTTvE55tpM2p7"><i class="fa-brands fa-deezer"></i></a>
  <a href="mailto:swanee.pro@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</div>

<div class="somewhere-song">
</div>


<div class="echo-eps">
</div>


<div class="youtube">
  <iframe width="80%" height="200" src="https://www.youtube.com/embed/XTcn0x9R6fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("galerie6.jpeg", class: "d-block w-100 carousel-image",  alt: "First slide") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("galerie1.jpeg", class: "d-block w-100 carousel-image", alt: "Second slide") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("galerie7.jpeg", class: "d-block w-100 carousel-image", alt: "Third slide") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("galerie8.jpeg", class: "d-block w-100 carousel-image", alt: "Fourth slide") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("galerie11.jpeg", class: "d-block w-100 carousel-image", alt: "Fifth slide") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("galerie4.jpeg", class: "d-block w-100 carousel-image", alt: "Sixth slide") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="partners">
</div>
